@import "./Variables.scss";
@import "./NavBar.scss";
@import "./OneCar.scss";
@import "./Footer.scss";

body {
  font-family: $font-family;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}
