.logo-container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-color;
  height: 5rem;
  color: #fff;
  padding: 0 5%;
}

.menu {
  display: flex;
  list-style: none;
}

.burger-menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  border-radius: 10px;
  width: 2rem;
  height: 0.25rem;
  background-color: #fff;
  margin: 5px 0;
}

.menu.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.9rem;
  width: 6rem;
  right: 0;
  padding: 0 5%;
  background-color: $main-color;
  z-index: 10;
  opacity: 0.8;

  a {
    color: $white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    width: 25rem;
    display: flex;
    justify-content: space-between;

    a {
      color: $white;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 5%;
    }

    span {
      display: none;
    }
  }
}