.sidebar {
  color: $white;
  background-color: $main-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 5;

  .home-cms {
    padding: 5% 0;
    width: 100%;
    justify-content: center;
  }

  a {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    color: $white;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    width: 17%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
      padding: 8% 0;
      text-align: center;
    }

    .home-cms {
      padding: 20% 0;
    }

    a {
      padding: 10% 0;
    }
  }
}
